* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Arial,sans-serif;
  max-width:800px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: linear-gradient(90deg,rgba(133, 163, 72, 1) 0%, rgba(237, 221, 83, 1) 94%);
}
