* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Arial,sans-serif;
  max-width:800px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: linear-gradient(180deg,rgba(84, 58, 180, 1) 0%, rgba(231, 253, 29, 1) 50%, rgba(255, 0, 0, 1) 100%);
}
